catboost
imbalanced-learn
joblib
lightgbm
numpy
optuna
pandas
scikit-learn
sdv
#tabpfn
tqdm
xgboost
smote_variants

# Dev deps
black
jedi
jupyter-core
nbconvert
pyls-black
pyls-isort
python-lsp-server

#autogluon.tabular
#autoPyTorch
#auto-sklearn
#pytorch-lightning
#torch #pytorch