catboost
joblib
lightgbm
numpy
optuna
pandas
scikit-learn
sdv==0.18.0
#tabpfn
tqdm
xgboost

# Dev deps
black
jedi
nbconvert
pyls-black
pyls-isort
python-lsp-server
tableone
ipykernel
graphviz
jupyter
ipywidgets
watermark
scikit-plot 
seaborn
matplotlib

#autogluon.tabular
#autoPyTorch
#auto-sklearn
#pytorch-lightning
#torch #pytorch